@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-4">
    <div class="text-center">
        <img style="width:650px; height: 450px;" src="~/img/4011311.jpg" />
    </div>
    <div class="row text-center">
        <p class="text-success">پرداخت با موفقیت انجام شد</p>
    </div>
</div>
