@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <h3> سیاست حفظ حریم خصوصی </h3>
    @*<p>Use this page to detail your site's privacy policy.</p>*@
    <p class="pt-4">
        به وبسایت هتل ما خوش آمدید . در اینجا، ما به حریم خصوصی شما احترام می‌گذاریم و تلاش می‌کنیم تا اطلاعات شخصی شما را محافظت کنیم. در این سیاست حفظ حریم خصوصی، توضیح می‌دهیم که چه نوع اطلاعاتی جمع آوری می‌کنیم، چگونه از آن استفاده می‌کنیم و چگونه آن را محافظت می‌کنیم.
    </p>
    <ul class="pt-1">
        <li>اطلاعات جمع آوری شده</li>
        <p>
            هنگامی که شما از وبسایت ما استفاده می‌کنید، ممکن است اطلاعات شخصی خود را ارائه دهید، مانند نام، آدرس ایمیل، شماره تماس و غیره. علاوه بر این، ممکن است اطلاعات غیر شخصی مانند آدرس IP، نوع مرورگر و غیره را نیز جمع آوری کنیم.
        </p> 
    </ul>
</div>

